src/main/mule/bookmyshowsoap.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>
    <apikit-soap:config httpStatusVarName="httpStatus" name="soapkit-config" port="BookMyShowPort" service="BookMyShowService" wsdlLocation="BookMyShow.wsdl"/>
	<configuration-properties doc:name="Configuration properties" doc:id="a09b9893-aae9-4aa8-a513-d51ed17a2077" file="${env}.yaml" />
	<global-property doc:name="Global Property" doc:id="a522e671-502b-41d8-9a95-c28c6b42e3c0" name="env" value="dev" />
	<flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/BookMyShowService/BookMyShowPort">
            <http:response statusCode="#[attributes.additionalTransportData.statusCode default 200]">
                <http:body>#[payload]</http:body>
                <http:headers>#[attributes.protocolHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[attributes.additionalTransportData.statusCode default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[attributes.protocolHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="InputLogging" doc:id="8c23891d-6a72-4efe-a1a4-c9413fac7a09" message="#[payload]"/>
		<apikit-soap:router config-ref="soapkit-config">
			<apikit-soap:attributes ><![CDATA[#[%dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]]]></apikit-soap:attributes>
        </apikit-soap:router>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="daa75fcf-22b5-4252-b134-b02244a934fa" >
				<ee:transform doc:name="Transform Message" doc:id="7791bd60-a96f-41df-9f9c-ac7dcddf32c9" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Fault: {
            faultcode: error.errorType,
            faultstring: error.description

        }
    } write "application/xml"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="BookMySHow:\soapkit-config">
        <ee:transform doc:id="ab050af2-aef1-42f5-9044-8db9da6aa9bd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
ns ns0 http://com.apisero.bookmyshow/
---
{
	body: {
		ns0#BookMySHowResponse: {
			ticketId: (payload.body.ns0#BookMySHowRequest.id default ""),
			userName: (payload.body.ns0#BookMySHowRequest.userName default ""),
			message: "TicketBooked",
			discountApplied:
			( if (payload.body.ns0#BookMySHowRequest.groupBooking as Boolean == true) 10
	  	     else 20),
			timeOfBooking: "2021-02-11T12:49:00.345",
			noOfSeatsBooked: 5,
			bookedSeats: "34,35,36,37,38",
		}
	} write "application/xml"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="638a5c63-4060-475a-8c64-cc56035f6890" message="#[payload]"/>
    </flow>
</mule>
